.main_card {
    display: inline-block;

}

.card {
    width: 280px;
    height: 340px;
    // border: 1px solid black;
    border-radius: 10px;
    margin: 25px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6)
}

.card img {
    width: 280px;
    height: 230px;
    border-radius: 10px;
    //border-bottom: 1px solid black;
}

.container {
    margin-left: 10px;
}

.container h4 {
    margin: 0;
}

.container p {
    margin: 0;
}

.compare_btn {
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin: 10px 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(72, 109, 255);
}

.book_btn {
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin: 10px 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(20, 155, 5);
}
.pagination_div{
    display: flex;
    justify-content: center;
}
.pagination_btn {
    color: black;
    align-items: center;
    padding: 6px 16px;
    border: 1px solid black;
    display: inline-block;
}