.explore{
    text-align: center;
}
.explore_main {
    display: flex;
    justify-content: center;
    //flex-direction: row;
    //flex-wrap: wrap;
    //align-items: center;
    margin: 30px 0px 30px 0px
}

.explore_div {
    width: 90%;
    height: 500px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6)
}

.explore_div h2{
    text-align: center;
}

.figure{
    width: 180px;
    height: 180px;
    border: 1px solid black;
    display: inline-block;
    margin: 20px 30px;
}
.figure img{
    width: 180px;
    height: 180px;
    
}